
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Exo+2&display=swap');

.button {
  display: flex;
  align-items: center;
  font-family: 'Exo 2',sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(20, 89, 167) 0%, rgb(247, 148, 102) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* -ms-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
  margin-left: 17.5rem;
  
} 
  
.button:hover{
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}
 
.button:active{
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
  
.button:focus {
  outline: none;
}

